<div *ngIf="movie$ | async as movie" class="containter">
  <div class="card">
    <img style="width: 98%;" src="../../../assets/moviest-logo.png" alt="Moviest best movies" (click)="backToMovies()">
    <div class="head">

    </div>
    <div class="product">
      <img [src]="movie.img" [alt]="movie.name" height="200">
    </div>
    <div class="text">
      <div class="title">
        <h2>{{movie.name}}</h2>
        <p>Duration: {{movie.length}}</p>
        <p>Movie description: {{movie.description}}</p>
        <p>Genres: {{movie.genres}}</p>
        <p>Rating: {{movie.rate}}</p>
      </div>
      <div class="favourite">
        <span class="material-icons-outlined" style="cursor: pointer" [ngClass]="{'inFavourites': inFavourites}" (click)="updateFavourite(movie.id)">
          thumb_up_alt
        </span>
      </div>
      <div class="footer">
        <div class="action">
          <button (click)="backToMovies()">
            BACK TO MOVIES
          </button>
        </div>
      </div>
  </div>
</div>
