<div *ngIf="movie$ | async as movie" class="details-card">
  <div class="details-card-header">
    <div>{{movie.name}}</div>
  </div>
  <div>
    <span class="details-card-info">Duration:</span> {{movie.length}}
  </div>
  <div>
    <span class="favourite-button material-icons-outlined" [ngClass]="{'favourite': inFavourites}" (click)="updateFavourite(movie.id)">
      thumb_up_alt
    </span>
  </div>
  <div class="card-content">
    <div>
      <img class="details-card-image" [src]="movie.img" [alt]="movie.name">
    </div>
    <div class="details-card-info">
      <div>
        <span>Movie description:</span> {{movie.description}}</div>
      <div>
        <span>Genre:</span> {{movie.genres}}</div>
      <div>
        <span>Rating:</span> {{movie.rate}}</div>
    </div>
    <div>
      <button class="details-card-button" mat-button (click)="backToMovies(movie)">
        <span class="material-icons">
          arrow_back
        </span>
        BACK TO MOVIES
      </button>
    </div>
  </div>
</div>
