<div class="form-field-wrapper">
  <div class="moviest-logo">
    <img src="../../../assets/moviest-logo.png" alt="Moviest best movies">
  </div>
  <mat-form-field class="form-field">
    <!-- keydown.enter & trigger.closePanel are for hiding options panel when user filled in the input but didn't choose any recor -->
    <!-- on keyup event (showOptions) show options panel - when there is at least one letter in the input -->
    <input autofocus class="search" type="text" placeholder="Find movie" matInput [formControl]="moviesControl" [matAutocomplete]="auto"
      #trigger="matAutocompleteTrigger" (keydown.enter)="$event.target.blur(); trigger.closePanel()" (keyup)="showOptions($event)">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let movie of filteredMovies$ | async" [value]="movie.name" (click)="goToDetails(movie)" (onSelectionChange)="goToDetails(movie)"
        [ngClass]="{'hide-autocomplete': !showAutocomplete}">
        {{movie.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div class="form-field-chip">
  <mat-chip-list multiple aria-label="Filter selection" *ngFor="let genre of genreFilterStatus">
    <mat-chip (click)="onGenreFilterChange({filterType: genre.genreType, filterActive: !genre.filterActive})" [selected]="genre.filterActive">{{genre.genreType}}</mat-chip>
  </mat-chip-list>
  <mat-chip-list multiple aria-label="Filter selection">
    <mat-chip (click)="onOtherFilterChange('favourite')" [selected]="selectedFavourites">Favourites</mat-chip>
    <mat-chip (click)="onOtherFilterChange('reset')" [selected]="true">X Reset Filter</mat-chip>
  </mat-chip-list>
</div>
<ng-container *ngIf="!(isLoading$ | async)">
  <mat-grid-list class="form-grid" cols="4" *ngIf="(filteredMovies$ | async).length > 0">
    <mat-grid-tile *ngFor="let movie of filteredMovies$ | async">
      <app-movie-item (click)="goToDetails(movie)" (keydown.enter)="goToDetails(movie)" [movie]="movie" tabindex="1"></app-movie-item>
    </mat-grid-tile>
  </mat-grid-list>

  <div *ngIf="(filteredMovies$ | async).length === 0">
    <app-no-data></app-no-data>
  </div>
</ng-container>
<div *ngIf="isLoading$ | async" class="spinner">
  <p>{{loadingMessage}}</p>
  <mat-spinner></mat-spinner>
</div>
