:host {
  display: flex;
  flex-direction: column;
}

  .hide-autocomplete {
    display: none;
  }

  .form-field-wrapper {
    margin: 0 auto;
    width: 60%;

    .form-field {
      width: 100%
    }
  }

.form-field-chip {
  padding: 1.5% 0;
  align-self: center;
  cursor: pointer;
}

.form-grid {
  width:80%;
  margin: auto;
}

.moviest-logo {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  img {
    width: 150px;
    margin: 0 auto;
  }
}

mat-chip {
  cursor: pointer;
}
