:host {
  display: flex;
  flex-direction: column;

  mat-chip {
    cursor: pointer;
  }

  mat-grid-tile {
    cursor: pointer;
  }
}

  .hide-autocomplete {
    display: none;
  }

  .form-field-wrapper {
    margin: 0 auto;
    width: 60%;

    .form-field {
      width: 100%
    }
  }

.form-field-chip {
  padding: 1.5% 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  align-self: center;
  margin-left: 5%;
}

.form-grid {
  width:80%;
  margin: auto;
}

.moviest-logo {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  img {
    width: 150px;
    margin: 0 auto;
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(80vh);
}
